@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
  @apply w-full flex flex-col  items-center bg-[#fff] h-auto;
}
:placeholder {
  @apply text-white;
}
.wrapper-2{
  @apply w-full
}
.contain {
  @apply w-full md:w-[768px] lg:w-[1024px] xl:w-[1164px];
}
:root {
  --color-bright-yellow: #ffeb69;
  --color-bright-orange: #ffc091;
  --color-dark-purple: #260a2f;
  --color-dark-gold: #3a341c;
  --color-bright-blue: #a0e1e1;
  --color-dark-charcoal: #21231d;
  --color-white: #fff;
  --color-black: #000;
  --color-bright-green: #9fe870;
  --color-forest-green: #163300;
  --color-bright-pink: #ffd7ef;
  --color-dark-maroon: #320707;
  --color-content-primary: #0e0f0c;
  --color-content-secondary: #454745;
  --color-content-tertiary: #6a6c6a;
  --color-content-link: #163300;
  --color-content-link-hover: #0d1f00;
  --color-content-link-active: #0e0f0c;
  --color-interactive-primary: #163300;
  --color-interactive-primary-hover: #0d1f00;
  --color-interactive-primary-active: #0e0f0c;
  --color-interactive-secondary: #868685;
  --color-interactive-secondary-hover: #6c6c6b;
  --color-interactive-secondary-active: #525251;
  --color-interactive-accent: #9fe870;
  --color-interactive-accent-hover: #80e142;
  --color-interactive-accent-active: #65cf21;
  --color-interactive-control: #163300;
  --color-interactive-control-hover: #0d1f00;
  --color-interactive-control-active: #0e0f0c;
  --color-interactive-contrast: #9fe870;
  --color-interactive-contrast-hover: #cdffad;
  --color-interactive-contrast-active: #ecffe0;
  --color-border-neutral: #0e0f0c1f;
  --color-border-overlay: #0e0f0c1f;
  --color-background-screen: #fff;
  --color-background-screen-hover: #16330014;
  --color-background-screen-active: #16330021;
  --color-background-elevated: #fff;
  --color-background-neutral: #16330014;
  --color-background-neutral-hover: #16330021;
  --color-background-neutral-active: #1633002e;
  --color-background-overlay: #16330014;
  --color-sentiment-negative: #a8200d;
  --color-sentiment-negative-hover: #8e1b0b;
  --color-sentiment-negative-active: #761709;
  --color-sentiment-positive: #2f5711;
  --color-sentiment-warning: #095f99;
  --color-contrast: #fff;
  --color-light: #fff;
  --color-dark: #121511;
  --color-contrast-overlay: #fff;
  --color-contrast-theme: #121511;
  --padding-x-small: 8px;
  --padding-small: 16px;
  --padding-medium: 24px;
  --padding-large: 32px;
  --radius-full: 9999px;
  --radius-small: 10px;
  --radius-medium: 16px;
  --radius-large: 24px;
  --size-4: 4px;
  --size-8: 8px;
  --size-10: 10px;
  --size-12: 12px;
  --size-14: 14px;
  --size-16: 16px;
  --size-24: 24px;
  --size-32: 32px;
  --size-40: 40px;
  --size-48: 48px;
  --size-52: 52px;
  --size-56: 56px;
  --size-60: 60px;
  --size-64: 64px;
  --size-72: 72px;
  --size-80: 80px;
  --size-88: 88px;
  --size-96: 96px;
  --size-104: 104px;
  --size-112: 112px;
  --size-120: 120px;
  --size-126: 126px;
  --size-128: 128px;
  --size-146: 146px;
  --size-154: 154px;
  --size-x-small: 24px;
  --size-small: 32px;
  --size-medium: 40px;
  --size-large: 48px;
  --size-x-large: 56px;
  --size-2x-large: 72px;
  --space-content-horizontal: 16px;
  --space-small: 16px;
  --space-medium: 32px;
  --space-large: 40px;
  --space-x-large: 56px;
  --font-size-12: 0.75rem;
  --font-size-14: 0.875rem;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-22: 1.375rem;
  --font-size-24: 1.5rem;
  --font-size-26: 1.625rem;
  --font-size-28: 1.75rem;
  --font-size-30: 1.875rem;
  --font-size-32: 2rem;
  --letter-spacing-xxs: 0.005em;
  --letter-spacing-xs: 0.01em;
  --letter-spacing-sm: 0.0125em;
  --letter-spacing-md: 0.015em;
  --letter-spacing-lg: 0.02em;
  --letter-spacing-xl: 0.025em;
  --letter-spacing-negative-xxs: -0.005em;
  --letter-spacing-negative-xs: -0.01em;
  --letter-spacing-negative-sm: -0.0125em;
  --letter-spacing-negative-md: -0.015em;
  --letter-spacing-negative-lg: -0.02em;
  --letter-spacing-negative-xl: -0.025em;
  --letter-spacing-negative-xxl: -0.03em;
  --letter-spacing-negative-xxxl: -0.04em;
  --letter-spacing-negative-xxxxl: -0.05em;
  --line-height-18: 1.125rem;
  --line-height-20: 1.25rem;
  --line-height-22: 1.375rem;
  --line-height-24: 1.5rem;
  --line-height-28: 1.75rem;
  --line-height-30: 1.875rem;
  --line-height-32: 2rem;
  --line-height-34: 2.125rem;
  --line-height-36: 2.25rem;
  --line-height-42: 2.625rem;
  --line-height-48: 3rem;
  --line-height-title: 1.2;
  --line-height-body: 1.5;
  --line-height-control: 1.2;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 900;
  --font-family-regular: "Inter", Helvetica, Arial, sans-serif;
  --font-family-display: "Wise Sans", "Inter", sans-serif;
}
